<mat-accordion>
  <mat-expansion-panel (closed)="panelOpenState = false"
                       (opened)="panelOpenState = true" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="items.length === 0">Connect entity</mat-panel-title>
      <mat-panel-title *ngIf="items.length > 0">Connected entities ({{items.length}})</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let item of items">
      <h4>{{item.name}}</h4>
      <p>{{item.type}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>


